engine:
  type: GlobusComputeEngine
  container_type: podman
  container_uri: gce_workers/validate_metadata:latest
  container_cmd_options: -e GLOBUS_CLIENT_ID -e GLOBUS_CLIENT_SECRET

  max_workers_per_node: 1

  provider:
    type: LocalProvider

    min_blocks: 0
    max_blocks: 1
    init_blocks: 1

# At 30s/hb (default value), 10 heartbeats is 300s.
idle_heartbeats_soft: 10

# At 30s/hb, this translates to worker shutdown after 1 hr of no task progress (ok assuming most tasks should take seconds)
idle_heartbeats_hard: 120
subscription_id: "REPLACEME"