GLOBUS_CLIENT_ID="REPLACEME"

# Where are the files used by the transfer steps?
# Base path to the folder containing all fixtures
GLOBUS_GCS_SOURCE_UUID=""
GLOBUS_GCS_SOURCE_BASE=""

# Base path to the folder containing all run results (metadata and transferred data). Clean at end of run.
GLOBUS_GCS_DEST_UUID=""
GLOBUS_GCS_DEST_PATH=""

# Presumably, the flow will always be run under the same ID, due to the need to configure various identity permissions up front
# These tests will redefine the flow in-place based on newest definitions
GLOBUS_FLOW_DEBUG_ID=""

# The compute function must be registered as part of the flow before creating, due to need to assign permissions (eg groups that can run the function) up front.
GLOBUS_GCE_ENDPOINT_ID=""
GLOBUS_GCE_FUNCTION_ID=""